@font-face {
  font-family: 'Calculator';
  src: url('fonts/Calculator.ttf') format('truetype');
}

.container {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.calculator-body {
  border-radius: 1rem;
  background-color: rgb(116, 161, 46);
  width: 23rem;
  display: flex;
  flex-direction: column;
  border: 3px solid black;
}

.calculator-screen {
  font-family: 'Calculator', sans-serif;
  display: flex;
  align-items: center;
  margin: 10px;
  height: 3rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  font-size: 30px;
  font-weight: bold;
  background-color: rgb(212, 226, 227);
  padding: 10px;
}

.btn-group {
  display: flex;
  justify-content: center;
}
.btn {
  width: 60px;
  height: 60px;
  margin: 5px;
  cursor: pointer;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  font-size: 20px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;
}

.btn.operator.add {
  background-color: rgb(170, 171, 254);
}

.btn.clear {
  background-color: rgb(254, 170, 170);
}

.btn.equal,
.operator,
.delete,
.add {
  width: 120px;
}
